# Ignore node_modules (dependencies should be installed in the container)
node_modules

# Ignore local environment files
.env

# Ignore Git-related files
.git
.gitignore

# Ignore Dockerfile itself
Dockerfile
.dockerignore

# Ignore logs and temporary files
*.log
*.tmp

# Ignore readme file
README.md
